{
	admin off
	frankenphp {
		# keep defaults for num_threads/max_threads to let FrankenPHP size the pool automatically
	}
}

:8080 {
	root * /app/www

	# Enable PHP server with FrankenPHP
	route {
		# Rewrite all requests to entrypoint.php
		rewrite * /entrypoint.php?uri={http.request.uri.path}

		php_server {
			index off
			file_server off

            worker {
                file /app/www/entrypoint.php
                num 1
                async
                buffer_size 20
                match *
            }
		}
	}

	# Logging
	log {
		output file /app/www/storage/logs/frankenphp-access.log
		level INFO
	}
}
